{% extends 'IdeatoBlogBundle::layout.html.twig' %}
{% block content %}
<form action="{{ path("new_post") }}" method="post" >
    {{ form_widget(form) }}
    <input type="submit" value="go go go!" />
</form>
{% endblock %}